@model SecondLife.Domain.DTO.AccountDetailsDTO

<div class="container emp-profile mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card-img">
                    <img src="/images/@Model.ProfilePicture" alt="Profile Picture" class="w-75 h-75"/>
                </div>
            </div>
            <div class="col">
                <div class="profile-head">
                    <h5>
                        @Model.Name @Model.Surname
                    </h5>
                    <h6>
                        @Model.Address, @Model.City
                    </h6>
                    <p class="proile-rating">Country: <strong>@Model.Country</strong></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Products</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name</label>
                            </div>
                            <div class="col-md-6">
                                <strong>@Model.Name</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-6">
                                <strong>@Model.Surname</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <a href="mailto:@Model.Email">@Model.Email</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <strong>@Model.PhoneNumber</strong>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade mb-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col">
                                @if (Model.UsersProducts != null && Model.UsersProducts.Count < 1)
                                { 
                                    <h3>No Items for selling!</h3>
                                }
                                else
                                {
                                <section style="background-color: #eee;">
                                    <div class="container py-5">
                                        <div class="row">
                                             @foreach (var product in Model.UsersProducts)
                                             {
                                                 <div class="col-5">
                                                    <div class="card text-black w-100 h-100">
                                                        <div class="card-img-top w-100 h-100">
                                                            <img src="/images/@product.ProductImage"
                                                                 class="card-img-top"
                                                                 alt="Product Image" />
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="text-center">
                                                                <h5 class="card-title">@product.ProductName</h5>
                                                                <p class="text-muted mb-4">@product.ProductDescription</p>
                                                            </div>
                                                            <div>
                                                                <div class="d-flex justify-content-between">
                                                                    <span>Price</span><span>$@product.Price.00</span>
                                                                </div>
                                                                <div class="d-flex justify-content-between">
                                                                    <span>Quantity</span><span>@product.Quantity</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                             }
                                        </div>
                                    </div>
                                </section>
                                }
                            </div>
                        </div>
                     </div>
            </div>
        </div>
       </div>
</div>